body {
  /* margin-left: 20px; */
  font-family: var(--font-family);
}

h1 {
  text-align: center;
}
  
h2 {
  color:var(--color-jus_dorange);
  text-transform: uppercase;
  margin: 100px 0px 50px 15px;
}

#colorsample {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: var(--margin-left); */
}

.swatch {
  display: flex;
  flex-direction: column;
  height: 9rem;
  width: 9rem;
  margin-right: var(--margin-righ);
  margin-left: var(--margin-left);
  border-radius: 50%;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
}

.boutonbase{
  display: block;
  margin-left: +var(--padding-left);
} 

.md,.sm{
  margin-top: 24px;
}

:root {
  --color-violence: #561067;
  --color-ultra_violence: #32083c;
  --color-calme: #c2b5c5;
  --color-bouteille: #0cb38b;
  --color-jus_dorange: #f5871f;
  --color-icetea: #ffb444;
  --color-icetealight: #fcdbbc;
  --color-biere: #d8cd4b;
  --color-soft: #f594a0;
  --color-neige: #ffffff;
  --color-foule: #000000;
  --color-interdit: #ff0000;
  --border-size: 3px;
  /* --space-big: 12px; */
  --space-medium: 6px;
  --space-small: 3px;
  --border-radius: 50px;
  --border-radius-small: 5px;
  --font-family: "Encode Sans expanded";
  --margin-left: 40px;
  --margin-righ: 40px;
  --padding-left: 94px;
  --padding-right: 94px;
  --padding-top-bot: 15px;
  --width-big: 327px;
  --width-medium: 103px;
  --width-small: 80px;
  --size-titre: 24px;
  --size-big: 16px;
  --size-medium: 12px;
  --size-small: 10px;
  --weight-button: 600;
  --width-column: 40px;
  --grid-space: 20px;
}

/* COLORS */

.violence {
  background-color: var(--color-violence);
  color: var(--color-neige);
}

.ultra_violence {
  background-color: var(--color-ultra_violence);
  color: var(--color-neige);
}

.calme {
  background-color: var(--color-calme);
}

.jus_dorange {
  background-color: var(--color-jus_dorange);
}

.icetea {
  background-color: var(--color-icetea);
}

.icetealight {
  background-color: var(--color-icetealight);
}

.biere {
  background-color: var(--color-biere);
}

.soft {
  background-color: var(--color-soft);
}

.neige {
  background-color: var(--color-neige);
  border: 1px solid grey;
}
.foule {
  background-color: var(--color-foule);
  color: var(--color-neige);
}
.interdit {
  background-color: var(--color-interdit);
  color: var(--color-neige);
}

.bouteille {
  background-color: var(--color-bouteille);
}

p {
  font-family: var(--font-family);
}

.typos{
  margin-left: var(--margin-left);
}

.titredepage {
  font-size: var(--size-titre);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-jus_dorange);
}

.titredesection {
  font-size: var(--size-titre);
  font-weight: bold;
}

.recherche {
  font-size: var(--size-big);
  font-weight: lighter;
  color: var(--color-calme);
}

.texte {
  font-size: var(--size-big);
}

/* .................... GRID ................. */

#gridscreen,#gridsize{
  display: flex;
  margin-left: var(--margin-left);
}

.gridscreencolumn{
width: var(--width-column);
margin-right: var(--grid-space);
background-color: var(--color-soft);
height: 200px;
}



/* --------- BUTTONS --------- */

.btn {
  padding: var(--space-sm);
  font-family: var(--font-family);
  border: var(--border-size);
  border-radius: var(--border-radius);
  margin-left: var(--margin-left);
  /* margin-right: var(--margin-righ); */
  color: var(--color-neige);
  padding-top: var(--padding-top-bot);
  padding-bottom: var(--padding-top-bot);
}

.btn-big {
  background-color: var(--color-ultra_violence);
  width: var(--width-big);
  font-size: var(--size-big);
  font-weight: var(--weight-button);
}

.btn-big:hover {
  background-color: var(--color-violence);
}

.btn-big:active {
  background-color: var(--color-violence);
}

.btn-big:disabled {
  background-color: var(--color-calme);
}

.btn-medium {
  background-color: var(--color-ultra_violence);
  width: var(--width-medium);
  font-size: var(--size-medium);
  padding-bottom: var(--space-medium);
  padding-top: var(--space-medium);
  font-weight: var(--weight-button);
}

.btn-medium:active {
  background-color: var(--color-violence);
}

.btn-medium:disabled {
  background-color: var(--color-calme);
}

.btn-small {
  background-color: var(--color-ultra_violence);
  width: var(--width-small);
  font-size: var(--size-small);
  padding-bottom: var(--space-small);
  padding-top: var(--space-small);
}

.btn-small:active {
  background-color: var(--color-violence);
}

.btn-small:disabled {
  background-color: var(--color-calme);
}

.btn-secondary-off {
  background-color: var(--color-jus_dorange);
}

.btn-secondary-off:active {
  background-color: var(--color-icetea);
}

.btn-secondary-on {
  background-color: var(--color-ultra_violence);
}

.btn-secondary-on:active {
  background-color: var(--color-violence);
}

.btn-secondary-off:disabled {
  background-color: var(--color-icetealight);
}

.btn-secondary-on:disabled {
  background-color: var(--color-calme);
}

.btn-tertiary {
  height: 44px;
  width: 44px;
  background-color: var(--color-jus_dorange);
}

.btn-tertiary:active {
  background-color: var(--color-icetea);
}

.btn-tertiary:disabled {
  background-color: var(--color-icetealight);
}

/* FILEDSET */

fieldset {
  border: var(--border-size) solid var(--color-biere);
  border-radius: var(--border-radius-small);
  width: var(--width-big);
   margin-left: var(--margin-left)
}

legend h1 {
  font-size: var(--size-titre);
  
}







/* BUTTONS */
/* 
.bigbutton {

    height: 52px;
    width: 327px;
    border-radius: 50px;
    margin: 5px;
}

.mediumbutton {
    height: 26px;
    width: 103px;
    border-radius: 50px;
    margin: 5px;
}

.smallbutton {
    height: 20px;
    width: 80px;
    border-radius: 50px;
    margin: 5px;
}

.mediumbutftonicon {
    height: 26px;
    width: 199px;
    border-radius: 50px;
    margin: 5px;
}

.togglebutton {
    height: 38.5px;
    width: 66px;
    border-radius: 50px;
    margin: 5px;
} */


.card {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
  border: var(--border-size) solid var(--color-biere);
  border-radius: var(--border-radius-small);
  width: var(--width-big);
  margin-left: var(--margin-left)
}

.titre {
  font-size: var(--size-titre);
  font-weight: bold;
  color: var(--color-ultra_violence);
  position: relative;
  bottom: 22px;
  background-color: white;
  padding: 1px;
  
}

.card.titre {
  display: block;
  padding-inline-start: 2px;
  padding-inline-end: 2px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}


